<div class="positions-main">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <span class="total-text">TOTAL POSITIONS</span>
                <span class="total-value">({{total}})</span>
            </div>
            <div class="col-md-2">
                <button class="btn primary-btn float-end" (click)="openAddPosition()"><i class="fa fa-plus"></i> Add Position</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" style="border-right: 1px solid #ededed; height: 620px;">
                <table>
                    <thead>
                        <tr>
                            <th>Position ID</th>
                            <th>Department</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let position of rowData" (click)="updateRowSelection(position)" [ngClass]="getSelectedClass(position.postionId)">
                            <td>{{position.postionId}}</td>
                            <td>{{position.department}}</td>
                            <td>{{position.description}}</td>
                            <td>{{position.location}}</td>
                            <td>{{position.priority}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-7">
                <div class="position-details" *ngIf="selectedRow">
                    <div class="title-bar">
                        <div class="row">
                            <div class="col-md-1">
                                <img src="/assets/images/ms.jpg" class="rounded">
                            </div>
                            <div class="col-md-10" style="padding-top: 8px; padding-left: 20px;">
                                <p class="title">{{selectedRow.description}}
                                    <span>({{selectedRow.postionId}})</span>
                                    <span class="priority critical" 
                                        [ngClass]="{'critical': selectedRow.priority === 'Critical', 'high': selectedRow.priority === 'High', 'medium': selectedRow.priority === 'Medium', 'low': selectedRow.priority === 'Low'}">
                                        {{selectedRow.priority}}
                                    </span>
                                </p>
                                <span class="pills" *ngFor="let skill of selectedRow.skills">{{skill}}</span>
                            </div>
                            <div class="col-md-1">
                                <span class="float-end" style="background-color: green; padding: 7px; color: #fff; border-radius: 0px; padding-left: 15px; padding-right: 15px; font-size: 11px;">{{selectedRow.status}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="job-details">
                        <ul>
                            <li>
                                <i class="fa fa-usd"></i>
                                <div>
                                    <strong>Account</strong>
                                    <span>{{selectedRow.account}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-briefcase"></i>
                                <div>
                                    <strong>BU</strong>
                                    <span>{{selectedRow.buCode}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <div>
                                    <strong>Client Manager</strong>
                                    <span>{{selectedRow.clientHiringManager}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-building"></i>
                                <div>
                                    <strong>Department</strong>
                                    <span>{{selectedRow.department}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-building"></i>
                                <div>
                                    <strong>FG Id</strong>
                                    <span>{{selectedRow.fgId}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <div>
                                    <strong>Location</strong>
                                    <span class="location">{{selectedRow.location}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <div>
                                    <strong>Job Title</strong>
                                    <span>{{selectedRow.title}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-etsy"></i>
                                <div>
                                    <strong>Experience Level</strong>
                                    <span>{{selectedRow.experienceLevel}} Years</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <div>
                                    <strong>Recruiter</strong>
                                    <span>{{selectedRow.recruiter}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <div>
                                    <strong>Resource Manager</strong>
                                    <span>{{selectedRow.resourceManager}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <div>
                                    <strong>Tech Head</strong>
                                    <span>{{selectedRow.techHead}}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i>
                                <div>
                                    <strong>Expiry Date</strong>
                                    <span>2022-10-01</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="job-description">
                        <h6>Job Description</h6>
                        <p>5-9 years experience working as a hands-on (actively coding) Application Development Lead or related role.</p>
                        <p>Experience with AWS, Microservices/ Springboot is mandatory</p>
                        <h6>Roles and Responsibilities</h6>
                        <p>Spring Expert-level implementation skills with the Core Spring Framework and including other sub-projects like Spring Security, Spring data Cassandra Spring Boot Apache Flink/Apache Spark is good to have. Candidates having experience working in Scratch projects will be preferred Not much into Big Data</p>
                        <h6>Eligibility</h6>
                        <p>Bachelor's in Computer Science or Equivalent</p>
                        <h6>Audit Trail</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>