.positions-main {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    .total-text {
        font-size: 12px;
        color: grey;
    }
    .total-value {
        font-size: 14px;
    }
    .container {
        .primary-btn {
            height: auto;
            background-color: #6675df21;
            border: none;
            font-size: 10px;

            i {
                font-size: 12px;
                margin-right: 3px;
            }
        }
        .primary-btn:hover {
            background-color: #6675df;
            color: #fff;
        }
    }
    .container-fluid {
        table {
            tbody {
                tr {
                    cursor: pointer;
                }
                tr:hover {
                    background-color: #ededed;
                }
                .selected {
                    background-color: #6675df56;
                }
            }
            th {
                padding: 10px 15px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                color: #283252;
                border: 1px solid #ededed;
            }
            td {
                border: 1px solid #ededed;
                font-family: 'Poppins', sans-serif;
                font-size: 11px;
                padding: 7px 10px;
            }
        }
    }

    .position-details {
        .title-bar {
            background-color: #f8f8f8;
            position: relative;
            padding: 10px;
            margin-bottom: 15px;
            height: auto;
            
            img {
                height: 60px;
                width: 60px;
                margin-left: 5px;
            }
            .title {
                font-size: 16px;
                margin-bottom: 0px;
                span {
                    font-size: 10px;
                    color: grey;
                }
            }
            .location {
                color: grey;
                font-size: 11px;
            }
            .id-details {
                font-size: 12px;
            }
            .priority {
                
                padding: 4px;
                color: #fff !important;
                border-radius: 4px;
                margin-left: 5px;
            }
            .priority.critical {
                background-color: #880808;
            }
            .priority.high {
                background-color: #EE4B2B;
            }
            .priority.medium {
                background-color: orange;
            }
            .priority.low {
                background-color: green;
            }
        }
        .job-details {
            padding: 10px;
            background: #fff;
            border: 1px solid #e0e0e0;
            margin-bottom: 20px;

            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    line-height: 16px;
                    display: flex;
                    padding: 10px 15px;
                    margin: 0;
                    flex: 0 0 25%;
                    div {
                        margin-left: 15px;
                        position: relative;
                        strong {
                            font-size: 12px;
                            font-weight: 700;
                            color: #333;
                        }
                        span {
                            font-size: 11px;
                            display: block;
                        }
                    }
                    i {
                        font-size: 16px;
                        color: #505050;
                        background: #6675df1f;
                        border-radius: 3px;
                        height: 40px;
                        width: 40px;
                        text-align: center;
                        line-height: 35px;
                        /* position: absolute; */
                        flex: 0 0 40px;
                    }
                }
            }
        }
        // .id-details {
        //     padding: 10px;
        //     background: #6675df;
        //     border: 1px solid #e0e0e0;
        //     height: 100px;
        //     margin-bottom: 20px;
        // }
        .job-description {
            font-size: 12px;
        }
        .detail-btn {
            height: auto;
            background-color: #6675df21;
            border: none;
            margin-top: 10px;
            font-size: 10px;
        }
        .detail-btn:hover {
            background-color: #6675df2e;
            color: #6675df;
        }
        .pills {
            display: inline-block;
            background: #86797936;
            border-radius: 5px;
            padding: 4px;
            font-size: 9px;
            padding-left: 8px;
            padding-right: 8px;
            margin-right: 5px;
        }
    }


    // Might need to remove
    .grid-container {
        padding-top: 20px;

        ag-grid-angular {
            height: 625px;
            font-size: 12px;

            .ag-theme-alpine {
                .ag-row {
                    font-size: 10px !important;
                }
            }
        }
    }
}