<div class="dashboard-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/images/1.JPG">
            </div>
        </div>
    </div>
</div>