<div class="header-main">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <span class="app-title">Requirements and Fullfilment Tracker (RaFT)</span>
            </div>
            <div class="col-md-1" *ngIf="isHeader">
                <span class="menu" (click)="onMenuChange('positions')" [ngClass]="getSelectedClass('positions')">Positions</span>
            </div>
            <div class="col-md-1" *ngIf="isHeader">
                <span class="menu" (click)="onMenuChange('candidates')" [ngClass]="getSelectedClass('candidates')">Candidates</span>
            </div>
        </div>
    </div>
</div>