.header-main {
    background-color: #6675df;
    width: 100%;
    height: 50px;

    .app-title {
        line-height: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #fff;
    }

    .menu {
        line-height: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
    }
    .menu:hover {
        color: black;
    }
    .selected {
        color: black;
        border-bottom: 2px solid;
    }
}