.candidates-main {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    .total-text {
        font-size: 12px;
        color: grey;
    }
    .total-value {
        font-size: 14px;
    }
    .grid-container {
        padding-top: 20px;

        ag-grid-angular {
            height: 625px;
            font-size: 12px;

            .ag-theme-alpine {
                .ag-row {
                    font-size: 10px !important;
                }
            }
        }
    }
}

.modal-title {
    font-family: 'Poppins', sans-serif;
}
.candidate-form {
    font-family: 'Poppins', sans-serif;
    
    .form-header, .form-value {
        font-size: 12px;
    }
}
.response-wrapper {
    font-family: 'Poppins', sans-serif;
    .modal-header {
        height: 40px;
        background-color: aquamarine;
    }
    .modal-body {
        height: 60px;
    }
    .modal-footer {
        justify-content: center;
    }
}
