<div class="candidates-main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="total-text">TOTAL CANDIDATES</span>
                <span class="total-value">({{total}})</span>
            </div>
            <div class="col-md-4">
                <button class="btn primary-btn float-end" (click)="openModal(candidatetemplate)">Add Candidate</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="grid-container">
                    <ag-grid-angular style="width: 100%;" class="ag-theme-alpine" [rowData]="rowData"
                        [columnDefs]="columnDefs">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #candidatetemplate>
    <div class="modal-header">
        <h6 class="modal-title pull-left">Add Candidate</h6>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container candidate-form">
            <form [formGroup]='candidateForm'>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Name</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Name" style="width: 100%;" formControlName='candidateName'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Email</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Email" style="width: 100%;" formControlName='candidateEmail'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Experience</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Prior Experince to Accolite" style="width: 100%;" formControlName='experiencePrior'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Joined Date</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Joined Date" style="width: 100%;" formControlName='joinDate'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Link</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Link" style="width: 100%;" formControlName='link'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Location</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName='location'>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Pune">Pune</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Offer Date</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Offer Date" style="width: 100%;" formControlName='offerDate'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Skills</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Links" style="width: 100%;" formControlName='skill'>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn primary-btn" (click)="createCandidate(responseTemplate)">SUBMIT</button>
    </div>
</ng-template>

<ng-template #responseTemplate>
    <div class="response-wrapper">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="text-center">{{responseMessage}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" (click)="updateCandidateGrid()">OK</button>
        </div>
    </div>
</ng-template>