<div class="login-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="padding: 0px;">
                <div class="login-image">
                    <img src="/assets/images/login1.jpg">
                    <!-- <span>Requirements and Fullfilment Tracker (RaFT)</span> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="login-form">
                    <div class="container">
                        <form [formGroup]='loginForm'>
                            <div class="row">
                                <div class="page-title">
                                    <span>Login</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-wrapper">
                                        <input type="text" class="form-control" class="input-email" placeholder="Email" style="width: 100%;" formControlName='username'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-wrapper">
                                        <input type="password" class="form-control" class="input-email" placeholder="Password" style="width: 100%;" formControlName='password'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-wrapper">
                                        <button class="btn primary-btn" style="width: 100%" (click)='validate()'>LOGIN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>