.login-main {
    .login-image {
        // background: url('/assets/images/login1.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 763px;
        // background-color: #6675df;
        font-family: 'Poppins', sans-serif;

        span {
            font-size: 30px;
            color: #fff;
            display: block;
            padding: 150px;
        }
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 80%;
            display: block;
            margin: 50px auto 20px;
        }
    }
    .login-form {
        font-family: 'Poppins', sans-serif;
        // margin-top: 250px;

        // width: 560px;
        min-height: 100vh;
        display: block;
        background-color: #f7f7f7;
        padding: 173px 55px 55px;


        .page-title {
            span {
                width: 100%;
                display: block;
                font-size: 30px;
                color: #333;
                line-height: 1.2;
                text-align: center;
                padding-bottom: 30px;
            }
        }
        .input-email {
            margin: auto
        }
    }
}