<div class="create-position-wrapper">
    <div class="modal-header">
        <h6 class="modal-title pull-left">Add Position</h6>
        <button type="button" class="btn-close close pull-right" aria-label="Close">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container candidate-form">
            <!-- <form [formGroup]='candidateForm'>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Name</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Name" style="width: 100%;" formControlName='candidateName'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Email</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Email" style="width: 100%;" formControlName='candidateEmail'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Experience</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Prior Experince to Accolite" style="width: 100%;" formControlName='experiencePrior'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Joined Date</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Joined Date" style="width: 100%;" formControlName='joinDate'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Link</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Link" style="width: 100%;" formControlName='link'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Location</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName='location'>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Pune">Pune</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Offer Date</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Offer Date" style="width: 100%;" formControlName='offerDate'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <span class="pull-right form-header">Skills</span>
                    </div>
                    <div class="col-md-9">
                        <div class="input-wrapper">
                            <input class="form-control form-value" type="text" class="input-email" placeholder="Links" style="width: 100%;" formControlName='skill'>
                        </div>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn primary-btn">SUBMIT</button>
    </div>
</div>