/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;;
    .primary-btn {
        background-color: #fff;
        color: #6675df;
        font-size: 12px;
        border: 1px solid #6675df;
    }
    .primary-btn:focus {
        outline: none;
        box-shadow: none;
    }
    .primary-btn:hover {
        background-color: #6675df;
        color: #fff;
    }

    .ag-theme-alpine {
        font-family: 'Poppins', sans-serif;
    }

    //[ inputs]
    .input-wrapper {
        display: grid;
        place-items: center;
        margin-bottom: 15px;

        input {
            height: 35px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding-left: 10px;
            font-size: 12px;
        }
        input:focus-visible {
            border: 1px solid #6675df !important;
            outline: none;
        }

        .btn {
            margin-top: 20px;
        }
    }
}